{% extends 'base.html.twig' %}

{% block title %}Create dynamic form page!{% endblock %}

{% set attribute_option_prototype = form_widget(form.fields.vars.prototype.children.fieldAttributes.children.options.vars.prototype) %}
{% set fields_prototype = form_widget(form.fields.vars.prototype) %}

{% block body %}
    {{ parent() }}
    <div class="container form-container">
    {{ form_start(form) }}
    <input type="hidden" name="fields_prototype" value="{{ fields_prototype }}"/>
    <input type="hidden" name="attribute_option_prototype" value="{{ attribute_option_prototype }}"/>
     <div class="form-group mb-2">
     <div class="d-flex">
        {{ form_widget(form.name, {
            'attr': {
                'placeholder': 'Entrez le nom de votre formulaire'
            }
        }) }}
        {{ form_errors(form.name) }}
         <button id="add_row" class="btn btn-primary btn-sm ms-2" title='Ajout champ' type="button">+</button>
         </div>
    </div>
   
 <!-- Conteneur pour les champs dynamiques -->
    <div id="fields_container">
        <!-- Champs dynamiques ajoutés ici -->
        <div class="field-row">
            {{ fields_prototype | replace({'__name__':0})| raw }}
        </div>
        <hr/>
    </div>
     <!-- Conteneur pour les boutons d'action -->
    <div class="buttons-container mt-4">
       <a href="{{ path('home') }}" class="btn btn-warning btn-sm">Retour à la liste des formulaires</a>
        <button id="save" class="btn btn-primary btn-sm" type="submit">Sauvegarder le formulaire</button>
    </div>
    

    {{ form_row(form._token) }}
    {{ form_end(form, {render_rest: false}) }}
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('generic_form') }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('generic_form') }}
{% endblock %}